<% content_for :title, "Przepisy" %>

<%= link_to image_tag("buttonrecipe.png", :alt =>"button_add_recipe", :class => 'recipe'), new_pancake_path, :title => 'dodaj nowy przepis' %> 

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @pancakes = Pancake.paginate(:page => params[:page]).order(:cena) %>
<% @pancakes.each do |pan| %>
  <div class = "pancake">
    <div class="name">
      <%= link_to pan.nazwa, pan %>
    </div>
    <div class="info">
      <b>koszt:</b><i> <%= pan.cena %> zl     </i> 
      <b>polewa:</b><i><%= pan.polewa %></i> <br />
    </div>
    <p> <%= pan.opis %> </p>
    <div class="ingredients_small">
      <% pan.ingredients.each do |i| %>
        <i>|<%= i.nazwa %></i>
      <% end %> 
    </div>
  </div>
<% end %>

<%= will_paginate @pancakes %>
<br />
