<% content_for :title, "Przepisy" %>

<%= link_to "Nowy przepis", new_pancake_path %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @pancakes = Pancake.paginate(:page => params[:page]).order(:cena) %>
<% @pancakes.each do |pan| %>
  <div class = "pancake">
    <p> <%= pan.cena %></p>
    <p> <%= pan.ocena %> </p>
    <p> <%= pan.nazwa %> </p>
    <p> <%= pan.polewa %> </p>
    <p> <%= pan.opis %> </p>
    <p> <%= pan.ingredients(@nazwa) %> </p>
  
  </div>
<% end %>

<%= will_paginate @pancakes %>
<br />
