<div class=form_new_pancake>
  <%= form_for @pancake do |f| %>
    <% if @pancake.errors.any? %>
      <ul>
        <%= @pancake.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
   
<% for ingredient in Ingredient.find(:all) %>
  <p>
    <%= check_box_tag "pancake[ingredient_ids][]", ingredient.id, @pancake.ingredients.include?(ingredient) %>
    <%= ingredient.nazwa %>
  </p>
<% end %>
<p><%= f.submit "ok", :class => "add_pancake" %></p>
<% end %>
</div>


