<div class=form_new_pancake>
  <%= form_for @pancake do |f| %>
    <% if @pancake.errors.any? %>
      <ul>
        <%= @pancake.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <p>  
  <%= f.label :nazwa, "Nazwa nalesnika:" %>>
  <%= f.text_field :nazwa, :class => 'field' %>
  </p>
  <p>
  <%= f.select :polewa, options_for_select(ICINGS) %>
  </p>
  <p>
  <%= f.label :cena, "Cena:" %>
  <%= f.number_field :cena, :class => 'field' %>
  </p>
  <p>
  <%= f.label :opis, "Opis:" %>
  <%= f.text_field :opis, :class => 'field' %>
  </p>
  <p>
<% for ingredient in Ingredient.find(:all) %>
  <p>
    <%= check_box_tag "pancake[ingredient_ids][]", ingredient.id, @pancake.ingredients.include?(ingredient) %>
    <%= ingredient.nazwa %>
  </p>
<% end %>
<p><%= f.submit "ok", :class => "add_pancake" %></p>
<% end %>
</div>


