<div class=form_new_pancake>
  <%= form_for @pancake do |f| %>
    <% if @pancake.errors.any? %>
      <ul>
        <%= @pancake.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <p>  
  <%= f.label :nazwa, "nazwa naleśnika:" %>
  </p>
  <%= f.text_field :nazwa, :class => 'fieldred' %>
  <p>
  <%= f.select :polewa, options_for_select(ICINGS) %>
  </p>
<% for ingredient in Ingredient.find(:all) %>
  <div class="ingredient">
    <%= check_box_tag "pancake[ingredient_ids][]", ingredient.id, @pancake.ingredients.include?(ingredient) %>
    <%= ingredient.nazwa %>
  </div>
<% end %>
<br />
<br />
  <p>
  <%= f.label :cena, "Cena:" %>
  </p>
  <%= f.number_field :cena, :class => 'fieldred' %>
  <p>
  <%= f.label :opis, "Opis:" %>
  </p>
  <%= f.text_area :opis, :class => 'areared' %>
  <p>
<p><%= f.submit "", :class => "add_recipe" %></p>
<% end %>
</div>


