<% content_for :title, "Przepisy " %>
<div class="lokal_show">
  <div class="lokal_nazwa">
    <%= @pancake.nazwa %>
  </div>
  <div class="lokal_opis">
    <%= @pancake.opis %>
  </div>
  <div>
      <%= render @pancake.comments %>
  </div>
  <%= link_to image_tag("buttoncomment.png", :alt => "button_comment", :class => ""), pancake_comments_url(@pancake), :title => "dodaj komentarz" %>
  <% if current_user && current_user.login == 'admin' %>
    <%= link_to 'Edytuj', edit_pancake_path(@pancake) %>
    <%= link_to 'Usun', @pancake, :confim => "Na pewno chcesz sie pozbyc tego nalesnika?", :method => :delete %>

<% end %>

