<h1>Komentarze</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
</div>

<h2>Nowy komentarz </h2>
<div id="nowy_komentarz">
<%= form_for [@commentable, Comment.new] do |form| %>
  <p>
    <%= form.label :content, "tresc komentarza:" %><br />
    <%= form.text_area :content, :class => 'field' %>
  </p>
  <p><%= form.submit "Dodaj komentarz" %></p>
</div>
<% end %>
