
<img src=<%= asset_path 'titlecomments.png' %> class=localisation />
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment"><%= comment.content %></div>
  <% end %>



<%= form_for [@commentable, Comment.new] do |form| %>
  <p>
    <%= form.label :content, "tresc komentarza:" %><br />
    <%= form.text_area :content, :class => "area" %>
  </p>
  <p><%= form.submit "", :class => "add_comment" %></p>
</div>
<% end %>
