<img src=<%= asset_path 'titleregister.png' %> class=localisation />
<div class=form_rejestr>
<%= form_for @user do |a| %>
  <p>
    <%= a.label :login, 'login' %><br/>
    <%= a.text_field :login %>
  </p>
  <p>
    <%= a.label :email, 'email' %><br/>
    <%= a.text_field :email %>
  </p>
  <p>
    <%= a.label :password, 'haslo' %><br/>
    <%= a.password_field :password %>
  </p>
  <p>
    <%= a.label :password_confirmation, 'potwierdz haslo' %><br/>
    <%= a.password_field :password_confirmation %>
  </p>
  <p><%= a.submit "", :class => "zarejestruj" %></p>
<% end %>
</div>
