
<img src=<%= asset_path 'tytulnalesnikarnie.png' %> class=localisation />


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p> ostatnio dodane lokale </p>

<% @lokals.each do |lokal| %>
  <div>
    <div><%= lokal.nazwa %><%= link_to "pokaz", @lokal %> </div>
              
  </div>

<% end %>

<br/>

<%= link_to "Dodaj lokal", new_lokal_path %>
<%= link_to "szukaj", search_lokals_path %>
