
<img src=<%= asset_path 'tytulnalesnikarnie.png' %> class=localisation />
<%= link_to image_tag("buttonsearch.png", :alt =>"button_search", :class => 'button'), search_lokals_path, :title => 'szukaj' %> 
<%= link_to image_tag("buttonaddlocal.png", :alt =>"button_add_local", :class => 'button'), new_lokal_path, :title => 'dodaj nowy lokal' %> 


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p> ostatnio dodane lokale </p>

<% @lokals.each do |lokal| %>
  <div>
   <div><%= lokal.nazwa %><%= link_to 'Show', lokal %></div>
              
  </div>

<% end %>

<br/>



