
<img src=<%= asset_path 'tytulnalesnikarnie.png' %> class=localisation />

<div class="search">
<%= form_tag :url => {:action => :index} do %>
  
    
  <%= text_field_tag :search, "", :class => "field_search" %>
  
  <%= submit_tag "", :class => "button_search" %>
<% end %>
</div>

<%= link_to image_tag("buttonaddlocal.png", :alt =>"button_add_local", :class => 'button'), new_lokal_path, :title => 'dodaj nowy lokal' %> 

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @lokals = Lokal.paginate(:page => params[:page]).order('created_at DESC') %>
<%= will_paginate @lokals %>
<% @lokals.each do |lokal| %>
  <div class = "lokal">

    
    <%= link_to(image_tag(lokal.photo_url(:thumb2),:class => "lokal_min"), lokal) if lokal.photo? %>
    <div class = "lokal_info">
      <%= link_to lokal.nazwa, lokal %>
      <p>  
      <%= lokal.adres %>
      </p>
  
    </div>
  </div>

<% end %>

<br/>



