<% content_for :title, "Dodaj naleśnikarnię" %>
<img src=<%= asset_path 'titlenewlocal.png' %> class=localisation />
<div class=form_new_local>
  <%= form_for @lokal  do |f| %>
    <% if @lokal.errors.any? %>
      <ul>
        <% @lokal.errors.full_messages.each do |msg| %>
          <li class="error">!<%= msg %> </li>
        <% end %>
      </ul>
    <% end %>
    <p>
    <%= f.label :nazwa, "Nazwa lokalu:" %> <br/>
    <%= f.text_field :nazwa, :class => 'field' %>
    </p>
    <p>
    <%= f.label :adres, "Adres:" %> <br/>
    <%= f.text_field :adres, :class => 'field' %>
    </p>
    <p>
    <%= f.label :opis,  "Opis:" %><br />
    <textarea class=area>
    </textarea>
    <p>
    <%= f.file_field :photo %>
    </p>
  <p><%= f.submit "", :class => "add_local" %></p>
  <% end %>	
</div>
