<h1>Nowy lokal </h1>

<%= form_for @lokal do |f| %>
<% if @lokal.errors.any? %>

 <ul>
   <% @lokal.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>
   <% end %>
 </ul>
 <% end %>
 <p>

   <%= f.label :nazwa, "Nazwa lokalu:" %>
   <%= f.text_field :nazwa %>
 </p>
 <p>
   <%= f.label :adres, "Adres lokalu:" %>
   <%= f.text_field :adres %>
 </p>
 <p>
   <%= f.label :ocena, "Twoja ocena lokalu:" %>
   <%= f.select_tag :ocena, '<option value="1">1</option><option value="2">2</option>' %>
 </p>
 <%= f.submit "Jedziesz!" %>
<% end %>
