<% content_for :title, "Naleśnikarnie " %>
<div class="lokal_show">
 <div class=lokal_nazwa>
    <%= @lokal.nazwa %>
  </div>
  <br />
  <i>
    <%= @lokal.adres %>
  </i>

  <div class="lokal_opis">
    <%= @lokal.opis %>
  </div>  
   
  
</div>
  <%= image_tag @lokal.photo_url(:thumb) if @lokal.photo? %>
<div>
  <%= render @lokal.comments %>      
</div>

<%= link_to image_tag("buttoncomment.png", :alt =>"button_comment", :class => ""), lokal_comments_url(@lokal), :title => "dodaj komentarz" %> 
<%= link_to '<< Naleśnikarnie', root_url %>
<% if current_user && current_user.login == 'admin' %>
  <%= link_to 'Edytuj lokal', edit_lokal_path(@lokal) %>
  <%= link_to 'Usun', @lokal, :confirm => "Na pewno chcesz usunac lokal?", :method => :delete %>
<% end %>
