<p>
  <b>Nazwa lokalu:</b>
  <%= @lokal.nazwa %>
  </p>

  <p>
  <b> Adres:</b>
  <%= @lokal.adres %>
  </p>
  
   <%= image_tag @lokal.photo_url(:thumb) if @lokal.photo? %>
  <div>
    <% if @comments != nil %>
      
    <%= @comments.each do |comment| %>
    <li><%= comment.content %></li>
  <%end %>
<% end %>
  </div>

  <%= link_to '<< Naleśnikarnie', root_url%>
<%= link_to image_tag("buttoncomments.png", :alt =>"button_comments", :class => ''), lokal_comments_url(@lokal), :title => 'zobacz komentarze' %> 
