<p>
  <b>Nazwa lokalu:</b>
  <%= @lokal.nazwa %>
</p>
<p>
  <b> Adres:</b>
  <%= @lokal.adres %>
</p>  
<p> 
  <%= image_tag @lokal.photo_url(:thumb) if @lokal.photo? %>
</p>
<div>
  <% @lokal.comments.each do |comment| %>      
    <p>
      <%= comment.content %>
    </p>
  <%end %>
</div>

<%= link_to '<< Naleśnikarnie', root_url%>
<%= link_to 'Komentarze', lokal_comments_url(@lokal) %>
