<% content_for :title, "Naleśnikarnie " %>
<p>
  <b>Nazwa lokalu:</b>
  <%= @lokal.nazwa %>
</p>
<p>
  <b> Adres:</b>
  <%= @lokal.adres %>
</p>
<p>
<b> Opis:</b>
  <%= @lokal.opis %>
</p>  
<p> 
  <%= image_tag @lokal.photo_url(:thumb) if @lokal.photo? %>
</p>
<div>
  <% @lokal.comments.each do |comment| %>      
    <div class="date">
      <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
    <div class="comment">
      <%= comment.content %>
    </div>
  <%end %>
</div>

      <%= link_to image_tag("buttoncomment.png", :alt =>"button_comment", :class => ""), lokal_comments_url(@lokal), :title => "dodaj komentarz" %> 
<%= link_to '<< Naleśnikarnie', root_url%>
