<div class="form_add_theory">
  <%= form_for @theory do |f| %>
    <% if @theory.errors.any? %>
      <ul>
        <% @theory.errors.full_messages.each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
    <%= f.label :title, "Tytuł:" %> 
    <%= f.text_field :title, :class =>'transparent' %>
    </p>
    <p>
    <%= f.label :theory, "Teoria:" %><br /> 
    <%= f.text_area :theory, :class => 'transparent' %>
    </p>
    <%= f.submit "", :class =>"add_theory" %>
  <% end %>
</div>
