<% content_for :title, "Teorie dr Pancake'a" %>
<%= image_tag("drpancake.png", :alt =>"Dr Pancake", :class => "drpancake") %> 
<div class="tableofcontents">
  <% @theories.each do |theory| %>
    <div class="titles2">
       <%= link_to theory.title, theory %> 
    </div>

  <% end %>
</div>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="cloud">

  <div class="title">
    <%= @theory.title %>
  </div>

  <div class="theory">
    <%= @theory.theory %>
  </div>
</div>
<% if current_user %>
<div class="undercloud">
    <%= link_to image_tag("buttontheory.png", :alt =>"button_add_theory", :class => 'newtheory'), new_drpancake_path, :title => 'nową teorię' %> 

  <div class = "option">
    <%= link_to "usuń", @theory, :confirm => "Czy na pewno chcesz usunąć tę teorię?",  :method => :delete %>
  </div>
  <div class = "option">
    <%= link_to "edytuj", edit_drpancake_path(@theory) %>
  </div>
</div>
<% end %>


