<!DOCTYPE html>
<html>
	<head>
	  <title>Pancake Corner</title>
	  <%= stylesheet_link_tag "style" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class=wrapper>
		<header>
			<%= image_tag("logo.png", :alt => "logo pancakecorner", :class => "logo") %>
			<ul class="nav">
				<li><%= link_to  image_tag("nalesnikarnie.png", :alt => "naleśnikarnie", :class =>"nav"),"#", :title => 'naleśnikarnie'; %> </li>
				<li><%= link_to image_tag("przepisy.png", :alt => "przepisy", :class =>"nav"), "#", :title => 'przepisy' %> </li>
				<li><%= link_to image_tag("zamow.png", :alt =>"zamów", :class =>"nav"), "#", :title => 'zamów' %> </li>
				<li><%= link_to image_tag("teoria.png", :alt =>"teoria", :class =>"nav"),"#", :title => 'teoria'  %></li>
			</ul>			
		</header>
		<section>
			<%= image_tag("gora.png", :alt => "ornament", :class => "ornament") %> 
		<%= yield %>
		</section>
		</div>
		<footer>
			&copy Pancake Corner <%= Time.now.year %>
		</footer>
	</body>

</html>
